{% extends "layout.html" %}
{% load static %}

{% block title %} 지도 {% endblock title %}

{% block contents %}
    <a href="http://127.0.0.1:8000/chatbot/"><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        챗봇 보기
    </button></a>
    <div class="containers" style="clear: both;">
        <div id="map" style="width:600px;height:600px;float:left; margin-right:20px"></div>

        <script>
            var positions = []
            {% for p in pharmacies %}
                positions.push(new kakao.maps.LatLng({{ p.lng }}, {{ p.lat }}))

                {% if forloop.first %}
                    var lat = {{ p.lat }};
                    var lang = {{ p.lng }};
                {% endif %}
            {% endfor %}

            var container = document.getElementById('map');
            var options = {
                center: new kakao.maps.LatLng(lang, lat),
                level: 2
            };
            var map = new kakao.maps.Map(container, options);

            for (i=0; i < positions.length; i++) {
                 var marker = new kakao.maps.Marker({
                    map: map,
                    position: positions[i]
                });
            }
        </script>

       <table style="border: 1px solid black;  float: left; border-collapse: collapse; width: 550px; height: 600px;">
           <th style="border: 1px solid black; font-size: 20px; width: 20%; text-align: center">약국명</th>
           <th style="border: 1px solid black; font-size: 20px; width: 60%; text-align: center">주소</th>
           <th style="border: 1px solid black; font-size: 20px; width: 20%; text-align: center">거리(km)</th>
        {% for p in pharmacies %}
           <tr class="pharmacy" style="border: 1px solid black;" lat="{{ p.lat }}" lng="{{ p.lng }}">
               <td style="border: 1px solid black; font-size: 18px; color:purple; text-align: center" >{{ p.name }}</td>
               <td style="border: 1px solid black; font-size: 18px; color:purple; text-align: center">{{ p.address }}</td>
               <td style="border: 1px solid black; font-size: 18px; color:purple; text-align: center">{{ p.distance }}km</td>
           </tr>
        {% endfor %}
       </table>
    </div>

    <script>
        document.querySelectorAll('.pharmacy').forEach(function(element) {
            element.addEventListener('click', function() {
                var lat = this.getAttribute('lat');
                var lng = this.getAttribute('lng');
                var moveLatLon = new kakao.maps.LatLng(lng, lat);
                console.log(lng, lat);
                map.setCenter(moveLatLon);
            });
        });
    </script>
{% endblock contents %}