{% extends "layout.html" %}
{% load static %}

{% block title %} 지도 {% endblock title %}

{% block contents %}
    <a href="http://127.0.0.1:8000/chatbot/"><button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        챗봇 보기
    </button></a>
	<div id="map" style="width:1500px;height:1500px;"></div>

	<script>
        var positions = []
        {% for p in pharmacies %}
            positions.push(new kakao.maps.LatLng({{ p.lng }}, {{ p.lat }}))

            {% if forloop.first %}
                var lat = {{ p.lat }};
                var lang = {{ p.lng }};
            {% endif %}
        {% endfor %}

		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(lang, lat),
			level: 2
		};
		var map = new kakao.maps.Map(container, options);

        for (i=0; i < positions.length; i++) {
             var marker = new kakao.maps.Marker({
                map: map,
                position: positions[i]
            });
        }
	</script>

   <table style="border: 1px solid black; witdh: 100%;">
    {% for p in pharmacies %}
       <tr style="border: 1px solid black;">
           <td style="border: 1px solid black;">{{ p.name }}</td>
           <td style="border: 1px solid black;">{{ p.address }}</td>
       </tr>
    {% endfor %}
   </table>
{% endblock contents %}