{% extends "layout.html" %}
{% load django_bootstrap5 %}

{% block title %}회원가입{% endblock title %}

{% block contents %}
<header class="d-flex justify-content-end">
    <a href="{% url 'home' %}" class="nav-link justify-content-end" style="font-size: 0.8rem; margin-left: auto;">HOME</a>
    <a href="{% url 'account:login' %}" class="nav-link" style="font-size: 0.8rem; padding-left: 10px;">로그인</a>
</header>

<div class="mt-5 text-center" style="max-width:400px; margin: 0 auto;">
    <h1 style="font-size: 3rem;">💊AI 약사💊 <br>회원가입</h1><br>
    <form method="post" enctype="multipart/form-data" onsubmit='return check_name_length(this.name.value)'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="mt-3 text-center">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 40%; height: 40px;">가입</button>
            <button type="reset" class="btn btn-secondary btn-sm" style="width: 40%; height: 40px;">초기화</button>
        </div>
    </form>
</div>

<script src="/static/account/js/check.js"></script>
{% endblock contents %}